<div class='simple_container_12 container _4ORMAT_content_wrapper clearfix'>
  <div class='grid_12'>
    <div class='simple_asset text' id='simple_title'>
      <h1><span style="font-weight:bold;">photo@willierunte.com&nbsp; </span><span style="font-weight:bold;">(+44)7878079411</span></h1>
    </div>
  </div>
  <div class='grid_12'>
    <div class='simple_asset image' id='asset_1_1'>
      <div class='img'>
        <img src='~/app/assets/images/about_image.JPG'/>
      </div>
    </div>
    <div class='simple_asset text' id='asset_1_2'>
      <br /><p>Willie Runte is a Fashion, Beauty and Advertising photographer based in Manchester, London and Rio de Janeiro.</p><p>He started his career in Brazil shooting for magazines and developed his own unique style inspired by his favorite photographers; Helmut Newton and Richard Avedon. Willie then moved to England to expand his market and work in a different and exciting new place. </p><p>Willie has been awarded in many competitions around Britain including The Sun Awards, The art in the City and Sunrise Awards. </p><p>His latest work include images for a variety of magazines such as <a href="http://issuu.com/papercutmag/docs/papercutmag_june_issue_2012/55">Papercut Magazine</a> and Him and Hers Magazine, also the&nbsp;Sisters of Transistors album art, images for <a href="http://elbow.co.uk">Elbow</a> tour and many websites including the Mancunian company <a href="http://www.worldclassservice.co.uk/resources/view?id=148">World Class service</a>.&nbsp; Currently he’s working on personal projects and shooting for <a href="http://www.designuponmersey.co.uk/">Design Upon Mersey</a> as part of their first team of creatives.</p>
    </div>
  </div>
</div>
<div class="footer_text">
  <p>All rights reserved to Willie Runte</p>
</div>
